:host ::ng-deep {
  display: flex;
  height: inherit;
  width: inherit;

  label {
    display: block;
    text-align: center;
    font-size: 20px;
  }
}

table {
  border: 3px solid black;

  td {
    border: 1px solid black;

    &:hover {
      color: red;
    }
  }
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &.center {
    justify-content: center;
  }
}

g.node rect,text {
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: column;

  .button-row {
    display: flex;
  }

  .form {
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    ::ng-deep mat-form-field {
      width: 100%;
    }

    .form-row {
      display: flex;
    }
  }
}

.graph {
  flex: 1
}
